<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9d193410-910c-4f60-add3-c4f246dc7907/resourceGroups/EtsyService/providers/Microsoft.Web/sites/EtsyService-Test</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://etsyservice-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>etsyservice-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EtsyService-Test</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EtsyService-Test</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>